body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  display: none;
}

.thumbs-list > .thumb {
  margin-bottom: 20px;
  margin-top: 20px;
}

.thumb__duration {
  display: block;
}

.thumb__img > video {
  width: 100%;
  max-width: 600px;
}

.video-block > .mobile-device {
  display: none;
}